@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    place-content: center;
    background-color: #1c1c1c;
    color: white;
}

.container {
    background-color: #404040;
    margin: 3em;
    padding: 2em;
    z-index: -2;
}

h1 {
    margin: 0;
    margin-bottom: .3em;
    font-size: 3em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #0b8719;
}

p {
    font-size: 1.3em;
    margin: 0;
    margin-top: 0;
    line-height: 1.3em;
    letter-spacing: .01em;
    color: rgba(255, 255, 255, 0.617);
}

span {
    position: relative;
    font-size: .7em ;
    color: white;
}

span:before {
    position: absolute;
    content: '';
    background-color: #0b8719;
    height: .2em;
    width: 80%;
    bottom: .1em;
    z-index: -1;
}